<!DOCTYPE html>
<html>
  <head>
    <title>Dont Be Square</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="topnav">
    <h1>Don't be Square</h1>
      <ul class="topnavlinks">
        <li>
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to 'Browse', "#", class: 'nav-link' %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to new_event_path, class: 'nav-link' do %>
              <i class="fa fa-plus"></i>
              New Event
            <% end %>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? != true %>
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

  <body>

  <!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <%= link_to "Don't Be Square!", root_path, class: 'navber-brand' %>
  
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to new_event_path, class: 'nav-link' do %>
            <i class="fa fa-plus"></i>
            New Event
          <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="signout">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="signin">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="signup">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    
  </nav> -->

    <%= yield %>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 footer-blurb">
            Proudly built by <a href="https://github.com/Spartan-626">Kyle Williamson</a><br />
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
